div {
    font-family: "Roboto";
    font-weight: normal;
}
.headernav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.item {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
#header_logo {
    font-size: 24px;
    color: #F9FAF8;
}
.secondary_text {
    font-size: 18px;
    color: #E5E7EB
}

.dark {
    background-color: #1F2937;
    display: flex;
    
    border: 20px;
    
}
.white {
    background-color:white;
    display: flex;
}
.grey {
    background-color: #E5E7Eb;
}

.side {
    flex: 1 1 0%;
    height: 50x;
}

.body {
    flex: 10 0 0%;
}
#hero_text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
body {
    margin: 0%;
}
#main_img {
    flex: 1 1 auto;
    width: 360px;
}
#main_text {
    flex: 1 1 0%;
}
#button {
    background-color: #3882F6;
    border-radius: 5px;
    border: #3882F6;
    width: 100px;
    text-align: center;
}
#infotext {
    flex: 8 0 0%;
    text-align: center;
}

#randomtext {
    font-weight: 900;
    color: #1F2937;
    font-size: 36px;
}
#imagerow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.img_border {
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 140px;
    height: 100px;
}
.text_border {
    width: 140px;
    height: 50px;
    resize: none;
}
